alembic==1.3.3
aniso8601==8.0.0
backcall==0.1.0
bcrypt==3.1.7
blinker==1.4
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
decorator==4.4.2
dnspython==1.16.0
falcon==2.0.0
Flask==1.1.1
Flask-Compress==1.4.0
Flask-Cors==3.0.8
Flask-Dance==3.0.0
Flask-Filter==0.1.0.dev3
Flask-JWT==0.3.2
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-MySQL==1.5.1
Flask-MySQLdb==0.2.0
Flask-OAuth==0.12
Flask-PyMongo==2.3.0
flask-reqparse==2.2.1
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gunicorn==20.0.4
httpie==2.1.0
httplib2==0.17.0
idna==2.8
ipython==7.14.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.10.3
mailchimp3==3.0.14
Mako==1.1.1
MarkupSafe==1.1.1
mongoengine==0.19.1
mysql-connector-python==8.0.14
mysqlclient==2.0.1
oauth2==1.9.0.post1
oauthlib==3.1.0
parso==0.7.0
pickleshare==0.7.5
Pillow==7.0.0
prompt-toolkit==3.0.5
pycparser==2.19
Pygments==2.6.1
PyJWT==1.4.2
pymongo==3.9.0
PyMySQL==0.9.3
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
six==1.13.0
SQLAlchemy==1.3.11
timestamp==0.0.1
traitlets==4.3.3
urllib3==1.25.8
URLObject==2.4.3
virtualenv==16.7.5
virtualenvwrapper-win==1.2.5
waitress==1.4.3
wcwidth==0.1.9
Werkzeug==0.16.0
WTForms==2.2.1
